.piece {
    display: inline-block;
    width: calc(var(--piece-size) * 1px);
    height: calc(var(--piece-size) * 1px);
    margin-right: 20px;
    background-size: calc(100% * var(--nombre-pieces)) calc(100% * var(--nombre-pieces));
    cursor: grab;
}